# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# TypeScript
dist/
*.tsbuildinfo

# Logs
logs/
*.log

# IDEs and Editors
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
docker-compose.local.yml

# assets
transcriptions
uploads
dist